<div class = main-container>
    <h2>スケジュール新規作成<</h2>
    <div class = errors>
        <% @post.errors.full_messages.each do |message|%>
        <ul><li><%= message%></li></ul>
        <% end %>
    </div>
    <table>
        <%= form_tag("/posts/create") do %>
            <tbody>
                <tr>
                    <th >タイトル</th>
                    <td>
                        <input type = "text" name = "scedule" value = "<%= @post.scedule%>">
                    </td>
                </tr>
                <tr>
                    <th >開始日</th>
                    <td>
                        <input type = "date" name = "start" >
                    </td>
                </tr>
                <tr>
                    <th>終了日</th>
                    <td>
                        <input type = "date" name = "end" value = "<%=@post.end%>">
                    </td>
                </tr>
                <tr>
                    <th>終日</th>
                    <td>
                        <input type = "checkbox" name = "check" <% if @post.check == true %>checked<% end %>>
                        <p>終日の場合はチェック</p>
                    </td>
                </tr>
                <tr>
                    <th>スケジュールメモ</th>
                    <td>
                        <textarea name = "memo" value = "<%=@post.memo%>"></textarea>
                    </td>
                </tr>
                    <td class = "no-list">
                        <div class = btns>
                            <input type = "submit" value = "スケジュールを新規登録する" class = submit-btn>
                            <%= link_to("スケジュール一覧に戻る","/") %>
                        </div>
                    </td>
            <tbody>
       
        <% end %>
    </table>
</div>
<footer>
    <div class = footer-container>
        <h1>現在の日時:<span id = cullent-date></span> </h1>
    </div>
</footer>